        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }

        body {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url('../images/bcg.webp');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 600px;
            padding: 20px;
            text-align: center;
        }

        .square {
            width: 400px;
            height: 400px;
            background-color: #ffffff;
            border: 2px solid #ddd;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .profile-image {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: #e0e0e0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
            color: #666;
        }

        .name {
            margin-top: 15px;
            font-size: 1.5em;
            font-weight: bold;
            color: #333;
        }

        .position {
            margin-top: 15px;
            font-size: 1em;
            font-weight: bold;
            color: #333;
        }

        .position-link {
            color: #7a917f;
            text-decoration: none;
        }

        .position-link:hover {
            color: #22382b;
        }

        .buttons {
            margin-top: 20px;
            display: flex;
            gap: 15px;
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            color: #fff;
            font-size: 1.2em;
            border: none;
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .button img {
            width: 50px;
            height: 50px;
        }

        .button:hover {
            background-color: #7a917f;
        }

        .button i {
            pointer-events: none;
        }

        @media (max-width: 600px) {
            .square {
                width: 90%;
                height: auto;
                padding: 20px;
            }

            .profile-image {
                width: 120px;
                height: 120px;
            }

            .name {
                font-size: 1.2em;
            }

            .buttons {
                gap: 10px;
            }

            .button {
                width: 40px;
                height: 40px;
                font-size: 1em;
            }
        }